body {
    font-family: Arial, sans-serif;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #ff69b4;
    margin: 0;
    padding: 20px;
    border: 2px solid #ff69b4;
    border-radius: 10px;
    background-color: #fff0f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h4 {
    color:#987789;
    
}
